In [16]:
import pandas as pd
import pymysql
from sqlalchemy import create_engine

In [20]:
database_username = 'student'
database_password = 'M3Sp?Wae]Pq)'
database_ip       = 'school-db.asqq.io'
database_name     = 'mysql'

In [21]:
connect_string = 'mysql+pymysql://{}:{}@{}/{}?charset=utf8'.format(database_username, database_password, database_ip, database_name)
engine = create_engine(connect_string, convert_unicode=True, echo=False)

In [24]:
df = pd.read_sql_query('SELECT * FROM mysql.ab_testing', engine)

In [186]:
df.head()

,user_id,possible_revenue,a,b,c,d,destination_landing,date_created
0,1,80,0,1,1,0,landing_d,2018-03-30 11:09:04.187515
1,2,82,0,0,0,0,landing_c,2018-03-30 11:09:04.187515
2,3,26,0,0,0,0,landing_b,2018-03-30 11:09:04.187515
3,4,30,0,0,0,0,landing_a,2018-03-30 11:09:04.187515
4,5,34,0,0,0,1,landing_b,2018-03-30 11:09:04.187515

In [187]:
df.drop(columns = 'con_a', inplace = True)

ValueError: labels ['con_a'] not contained in axis

In [27]:
import pymc

## Определить выручку каждого из лендингов

In [188]:
landing_a = df[(df.a == 1) & (df.destination_landing == 'landing_a')]
landing_b = df[(df.b == 1) & (df.destination_landing == 'landing_b')]
landing_c = df[(df.c == 1) & (df.destination_landing == 'landing_c')]
landing_d = df[(df.d == 1) & (df.destination_landing == 'landing_d')]

In [189]:
asum = landing_a['possible_revenue'].sum()
bsum = landing_b['possible_revenue'].sum()
csum = landing_c['possible_revenue'].sum()
dsum = landing_d['possible_revenue'].sum()

In [190]:
asum, bsum, csum, dsum

(12587, 24875, 19841, 21683)

## Считаем конверсию для landing_a

In [191]:
landing_a = df[(df.destination_landing == 'landing_a')]
landing_a.head()

,user_id,possible_revenue,a,b,c,d,destination_landing,date_created
3,4,30,0,0,0,0,landing_a,2018-03-30 11:09:04.187515
11,12,12,0,0,1,1,landing_a,2018-03-30 11:09:04.187515
15,16,28,0,1,0,0,landing_a,2018-03-30 11:09:04.187515
26,27,17,0,0,0,1,landing_a,2018-03-30 11:09:04.187515
28,29,39,0,0,0,1,landing_a,2018-03-30 11:09:04.187515

In [192]:
len(landing_a.destination_landing)

2533

In [210]:
counter=0
s=0
con_a =0
landing_a['con_a'] = ' '
landing_a['all'] = ' '
landing_a['successful'] = ' '

C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [211]:
for i in range(0, len(landing_a.destination_landing)):
    if (landing_a.a.iloc[i] == 1) & (landing_a.destination_landing.iloc[i] == 'landing_a'):
        counter+=1 #counter of successful landings
        s+=1 #counter of all landings
    else: s+=1
    
    con_a= counter/s; #конверсия
    landing_a['con_a'].iloc[i] = con_a #записываем в фрейм
    landing_a['all'].iloc[i] = s
    landing_a['successful'].iloc[i] = counter

C:\Users\Nick\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [212]:
landing_a

,user_id,possible_revenue,a,b,c,d,destination_landing,date_created,con_a,all,successful
3,4,30,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0,1,0
11,12,12,0,0,1,1,landing_a,2018-03-30 11:09:04.187515,0,2,0
15,16,28,0,1,0,0,landing_a,2018-03-30 11:09:04.187515,0,3,0
26,27,17,0,0,0,1,landing_a,2018-03-30 11:09:04.187515,0,4,0
28,29,39,0,0,0,1,landing_a,2018-03-30 11:09:04.187515,0,5,0
30,31,36,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0,6,0
32,33,12,0,0,0,1,landing_a,2018-03-30 11:09:04.187515,0,7,0
34,35,38,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0,8,0
35,36,69,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0,9,0
38,39,87,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0,10,0
46,47,9,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0,11,0
50,51,30,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0,12,0
55,56,9,0,1,0,0,landing_a,2018-03-30 11:09:04.187515,0,13,0
60,61,12,0,0,1,1,landing_a,2018-03-30 11:09:04.187515,0,14,0
67,68,49,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0,15,0
68,69,73,1,0,0,0,landing_a,2018-03-30 11:09:04.187515,0.0625,16,1
71,72,64,0,0,1,1,landing_a,2018-03-30 11:09:04.187515,0.0588235,17,1
74,75,76,0,0,0,1,landing_a,2018-03-30 11:09:04.187515,0.0555556,18,1
78,79,31,0,0,0,1,landing_a,2018-03-30 11:09:04.187515,0.0526316,19,1
80,81,49,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0.05,20,1
84,85,92,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0.047619,21,1
88,89,69,0,0,0,1,landing_a,2018-03-30 11:09:04.187515,0.0454545,22,1
89,90,82,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0.0434783,23,1
92,93,44,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0.0416667,24,1
93,94,29,0,1,0,0,landing_a,2018-03-30 11:09:04.187515,0.04,25,1
96,97,32,0,0,0,1,landing_a,2018-03-30 11:09:04.187515,0.0384615,26,1
105,106,35,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0.037037,27,1
106,107,13,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0.0357143,28,1
107,108,45,0,0,0,0,landing_a,2018-03-30 11:09:04.187515,0.0344828,29,1
112,113,6,0,0,0,1,landing_a,2018-03-30 11:09:04.187515,0.0333333,30,1
...,...,...,...,...,...,...,...,...,...,...,...
9874,9875,11,0,0,1,1,landing_a,2018-04-23 11:09:06.945091,0.10024,2504,251
9880,9881,21,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.1002,2505,251
9888,9889,66,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.10016,2506,251
9890,9891,57,1,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100519,2507,252
9899,9900,56,0,1,1,0,landing_a,2018-04-23 11:09:06.945091,0.100478,2508,252
9902,9903,59,0,1,0,1,landing_a,2018-04-23 11:09:06.945091,0.100438,2509,252
9920,9921,24,0,0,0,1,landing_a,2018-04-23 11:09:06.945091,0.100398,2510,252
9927,9928,3,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100358,2511,252
9931,9932,29,0,0,1,0,landing_a,2018-04-23 11:09:06.945091,0.100318,2512,252
9932,9933,11,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100279,2513,252
9938,9939,15,1,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100636,2514,253
9940,9941,31,0,0,1,0,landing_a,2018-04-23 11:09:06.945091,0.100596,2515,253
9948,9949,48,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100556,2516,253
9949,9950,91,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100516,2517,253
9950,9951,63,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100477,2518,253
9951,9952,40,0,1,0,0,landing_a,2018-04-23 11:09:06.945091,0.100437,2519,253
9957,9958,11,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100397,2520,253
9961,9962,14,0,1,1,1,landing_a,2018-04-23 11:09:06.945091,0.100357,2521,253
9962,9963,61,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100317,2522,253
9964,9965,64,0,1,1,0,landing_a,2018-04-23 11:09:06.945091,0.100277,2523,253
9965,9966,46,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100238,2524,253
9967,9968,89,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100198,2525,253
9973,9974,37,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100158,2526,253
9983,9984,99,0,1,0,0,landing_a,2018-04-23 11:09:06.945091,0.100119,2527,253
9984,9985,36,0,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100079,2528,253
9985,9986,45,0,1,0,0,landing_a,2018-04-23 11:09:06.945091,0.10004,2529,253
9986,9987,29,0,1,0,1,landing_a,2018-04-23 11:09:06.945091,0.1,2530,253
9989,9990,65,0,0,0,1,landing_a,2018-04-23 11:09:06.945091,0.0999605,2531,253
9990,9991,70,1,0,0,0,landing_a,2018-04-23 11:09:06.945091,0.100316,2532,254
9991,9992,93,0,1,0,0,landing_a,2018-04-23 11:09:06.945091,0.100276,2533,254

## landing_b

In [213]:
landing_b = df[(df.destination_landing == 'landing_b')]

In [214]:
landing_b['con_b'] = ' '

C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [215]:
counter1=0
s1=0
con_b =0
landing_b['con_b'] = ' '
landing_b['all'] = ' '
landing_b['successful'] = ' '

C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [216]:
for i in range(0, len(landing_b.destination_landing)):
    if (landing_b.b.iloc[i] == 1) & (landing_b.destination_landing.iloc[i] == 'landing_b'):
        counter1+=1 #counter of successful landings
        s1+=1 #counter of all landings
    else: s1+=1
    
    con_b = counter1/s1; #конверсия
    
    landing_b['con_b'].iloc[i] = con_b #записываем в фрейм
    landing_b['all'].iloc[i] = s1
    landing_b['successful'].iloc[i] = counter1

C:\Users\Nick\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [217]:
landing_b

,user_id,possible_revenue,a,b,c,d,destination_landing,date_created,con_b,all,successful
2,3,26,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0,1,0
4,5,34,0,0,0,1,landing_b,2018-03-30 11:09:04.187515,0,2,0
8,9,99,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0,3,0
9,10,86,0,0,0,1,landing_b,2018-03-30 11:09:04.187515,0,4,0
12,13,47,1,0,0,0,landing_b,2018-03-30 11:09:04.187515,0,5,0
13,14,18,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0,6,0
16,17,16,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0,7,0
18,19,28,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0,8,0
20,21,74,0,1,0,0,landing_b,2018-03-30 11:09:04.187515,0.111111,9,1
22,23,1,0,0,0,1,landing_b,2018-03-30 11:09:04.187515,0.1,10,1
29,30,87,0,1,0,0,landing_b,2018-03-30 11:09:04.187515,0.181818,11,2
33,34,33,0,0,1,0,landing_b,2018-03-30 11:09:04.187515,0.166667,12,2
36,37,65,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.153846,13,2
41,42,61,1,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.142857,14,2
43,44,51,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.133333,15,2
48,49,25,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.125,16,2
51,52,44,0,1,1,1,landing_b,2018-03-30 11:09:04.187515,0.176471,17,3
56,57,64,0,0,0,1,landing_b,2018-03-30 11:09:04.187515,0.166667,18,3
58,59,75,0,0,1,0,landing_b,2018-03-30 11:09:04.187515,0.157895,19,3
61,62,25,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.15,20,3
62,63,19,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.142857,21,3
64,65,13,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.136364,22,3
65,66,59,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.130435,23,3
66,67,74,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.125,24,3
69,70,24,0,1,0,0,landing_b,2018-03-30 11:09:04.187515,0.16,25,4
81,82,44,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.153846,26,4
82,83,67,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.148148,27,4
85,86,46,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.142857,28,4
86,87,98,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.137931,29,4
87,88,37,0,0,0,0,landing_b,2018-03-30 11:09:04.187515,0.133333,30,4
...,...,...,...,...,...,...,...,...,...,...,...
9894,9895,13,0,0,0,1,landing_b,2018-04-23 11:09:06.945091,0.200557,2513,504
9896,9897,36,0,0,0,1,landing_b,2018-04-23 11:09:06.945091,0.200477,2514,504
9907,9908,94,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200398,2515,504
9908,9909,87,0,0,0,1,landing_b,2018-04-23 11:09:06.945091,0.200318,2516,504
9910,9911,76,0,1,0,0,landing_b,2018-04-23 11:09:06.945091,0.200636,2517,505
9912,9913,23,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200556,2518,505
9917,9918,99,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200476,2519,505
9919,9920,71,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200397,2520,505
9921,9922,12,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200317,2521,505
9924,9925,54,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200238,2522,505
9925,9926,99,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200159,2523,505
9926,9927,14,0,0,0,1,landing_b,2018-04-23 11:09:06.945091,0.200079,2524,505
9929,9930,93,0,1,0,0,landing_b,2018-04-23 11:09:06.945091,0.200396,2525,506
9930,9931,28,0,0,0,1,landing_b,2018-04-23 11:09:06.945091,0.200317,2526,506
9936,9937,13,0,0,1,0,landing_b,2018-04-23 11:09:06.945091,0.200237,2527,506
9937,9938,52,0,0,1,0,landing_b,2018-04-23 11:09:06.945091,0.200158,2528,506
9939,9940,21,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200079,2529,506
9943,9944,17,0,1,1,0,landing_b,2018-04-23 11:09:06.945091,0.200395,2530,507
9954,9955,41,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200316,2531,507
9958,9959,15,1,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200237,2532,507
9959,9960,65,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200158,2533,507
9966,9967,39,0,1,0,0,landing_b,2018-04-23 11:09:06.945091,0.200474,2534,508
9968,9969,24,0,0,0,1,landing_b,2018-04-23 11:09:06.945091,0.200394,2535,508
9971,9972,89,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200315,2536,508
9974,9975,93,0,0,1,0,landing_b,2018-04-23 11:09:06.945091,0.200236,2537,508
9979,9980,17,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200158,2538,508
9987,9988,60,0,1,0,0,landing_b,2018-04-23 11:09:06.945091,0.200473,2539,509
9992,9993,42,1,1,1,0,landing_b,2018-04-23 11:09:06.945091,0.200787,2540,510
9994,9995,6,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200708,2541,510
9998,9999,7,0,0,0,0,landing_b,2018-04-23 11:09:06.945091,0.200629,2542,510

## landing_c

In [218]:
landing_c = df[(df.destination_landing == 'landing_c')]
landing_c['con_c'] = ' '
landing_c['all'] = ' '
landing_c['successful'] = ' '
counter2=0
s2=0
con_c =0

C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [219]:
for i in range(0, len(landing_c.destination_landing)):
    if (landing_c.c.iloc[i] == 1) & (landing_c.destination_landing.iloc[i] == 'landing_c'):
        counter2+=1 #counter of successful landings
        s2+=1 #counter of all landings
    else: s2+=1
    
    con_c = counter2/s2; #конверсия
    
    landing_c['con_c'].iloc[i] = con_c #записываем в фрейм
    landing_c['all'].iloc[i] = s2
    landing_c['successful'].iloc[i] = counter2

C:\Users\Nick\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()

In [220]:
landing_c

,user_id,possible_revenue,a,b,c,d,destination_landing,date_created,con_c,all,successful
1,2,82,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0,1,0
6,7,96,0,1,1,0,landing_c,2018-03-30 11:09:04.187515,0.5,2,1
10,11,70,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.333333,3,1
14,15,69,0,1,1,0,landing_c,2018-03-30 11:09:04.187515,0.5,4,2
19,20,73,0,0,0,1,landing_c,2018-03-30 11:09:04.187515,0.4,5,2
24,25,57,0,1,0,0,landing_c,2018-03-30 11:09:04.187515,0.333333,6,2
25,26,47,0,0,1,0,landing_c,2018-03-30 11:09:04.187515,0.428571,7,3
27,28,7,0,1,0,0,landing_c,2018-03-30 11:09:04.187515,0.375,8,3
37,38,96,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.333333,9,3
45,46,53,0,0,0,1,landing_c,2018-03-30 11:09:04.187515,0.3,10,3
49,50,80,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.272727,11,3
53,54,90,1,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.25,12,3
72,73,51,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.230769,13,3
73,74,14,0,0,0,1,landing_c,2018-03-30 11:09:04.187515,0.214286,14,3
75,76,9,0,1,0,0,landing_c,2018-03-30 11:09:04.187515,0.2,15,3
77,78,50,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.1875,16,3
79,80,50,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.176471,17,3
83,84,72,0,0,1,0,landing_c,2018-03-30 11:09:04.187515,0.222222,18,4
91,92,47,0,0,0,1,landing_c,2018-03-30 11:09:04.187515,0.210526,19,4
98,99,22,0,0,0,1,landing_c,2018-03-30 11:09:04.187515,0.2,20,4
99,100,89,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.190476,21,4
100,101,89,1,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.181818,22,4
102,103,10,0,0,1,0,landing_c,2018-03-30 11:09:04.187515,0.217391,23,5
114,115,89,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.208333,24,5
115,116,65,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.2,25,5
117,118,61,0,0,1,1,landing_c,2018-03-30 11:09:04.187515,0.230769,26,6
127,128,96,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.222222,27,6
128,129,57,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.214286,28,6
131,132,3,0,0,0,0,landing_c,2018-03-30 11:09:04.187515,0.206897,29,6
134,135,20,0,1,0,0,landing_c,2018-03-30 11:09:04.187515,0.2,30,6
...,...,...,...,...,...,...,...,...,...,...,...
9886,9887,91,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152727,2475,378
9889,9890,65,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152666,2476,378
9893,9894,68,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152604,2477,378
9898,9899,4,0,0,0,1,landing_c,2018-04-23 11:09:06.945091,0.152542,2478,378
9909,9910,14,0,1,0,0,landing_c,2018-04-23 11:09:06.945091,0.152481,2479,378
9911,9912,13,0,0,0,1,landing_c,2018-04-23 11:09:06.945091,0.152419,2480,378
9914,9915,61,0,1,1,0,landing_c,2018-04-23 11:09:06.945091,0.152761,2481,379
9918,9919,67,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152699,2482,379
9922,9923,56,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152638,2483,379
9923,9924,11,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152576,2484,379
9928,9929,62,0,1,0,0,landing_c,2018-04-23 11:09:06.945091,0.152515,2485,379
9933,9934,6,0,0,0,1,landing_c,2018-04-23 11:09:06.945091,0.152454,2486,379
9934,9935,89,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152392,2487,379
9935,9936,90,0,1,0,0,landing_c,2018-04-23 11:09:06.945091,0.152331,2488,379
9942,9943,62,0,0,1,0,landing_c,2018-04-23 11:09:06.945091,0.152672,2489,380
9946,9947,11,0,0,0,1,landing_c,2018-04-23 11:09:06.945091,0.15261,2490,380
9947,9948,85,1,0,1,0,landing_c,2018-04-23 11:09:06.945091,0.152951,2491,381
9953,9954,10,0,1,0,0,landing_c,2018-04-23 11:09:06.945091,0.152889,2492,381
9955,9956,88,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152828,2493,381
9956,9957,96,0,1,1,1,landing_c,2018-04-23 11:09:06.945091,0.153168,2494,382
9960,9961,66,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.153106,2495,382
9969,9970,35,0,0,0,1,landing_c,2018-04-23 11:09:06.945091,0.153045,2496,382
9970,9971,61,0,0,0,1,landing_c,2018-04-23 11:09:06.945091,0.152984,2497,382
9975,9976,76,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.152922,2498,382
9980,9981,7,0,0,1,0,landing_c,2018-04-23 11:09:06.945091,0.153261,2499,383
9981,9982,51,1,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.1532,2500,383
9982,9983,33,0,0,1,0,landing_c,2018-04-23 11:09:06.945091,0.153539,2501,384
9993,9994,53,0,0,0,0,landing_c,2018-04-23 11:09:06.945091,0.153477,2502,384
9995,9996,50,1,0,0,1,landing_c,2018-04-23 11:09:06.945091,0.153416,2503,384
9999,10000,9,0,0,1,0,landing_c,,0.153754,2504,385

## landing_d

In [221]:
landing_d = df[(df.destination_landing == 'landing_d')]
landing_d['con_d'] = ' '
landing_d['all'] = ' '
landing_d['successful'] = ' '
counter3=0
s3=0
con_d =0
for i in range(0, len(landing_d.destination_landing)):
    if (landing_d.d.iloc[i] == 1) & (landing_d.destination_landing.iloc[i] == 'landing_d'):
        counter3+=1 #counter of successful landings
        s3+=1 #counter of all landings
    else: s3+=1
    
    con_d = counter3/s3; #конверсия
    
    landing_d['con_d'].iloc[i] = con_d #записываем в фрейм
    landing_d['all'].iloc[i] = s3
    landing_d['successful'].iloc[i] = counter3

C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\Nick\Anaconda3\lib\site-packages\pandas\core\indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Nick\Anaconda3\lib\site-packages\ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [222]:
landing_d

,user_id,possible_revenue,a,b,c,d,destination_landing,date_created,con_d,all,successful
0,1,80,0,1,1,0,landing_d,2018-03-30 11:09:04.187515,0,1,0
5,6,7,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0,2,0
7,8,78,0,1,1,0,landing_d,2018-03-30 11:09:04.187515,0,3,0
17,18,67,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0,4,0
21,22,13,0,0,0,1,landing_d,2018-03-30 11:09:04.187515,0.2,5,1
23,24,25,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.166667,6,1
31,32,40,1,0,0,1,landing_d,2018-03-30 11:09:04.187515,0.285714,7,2
39,40,10,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.25,8,2
40,41,42,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.222222,9,2
42,43,29,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.2,10,2
44,45,47,1,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.181818,11,2
47,48,51,0,0,1,0,landing_d,2018-03-30 11:09:04.187515,0.166667,12,2
52,53,2,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.153846,13,2
54,55,52,0,1,0,0,landing_d,2018-03-30 11:09:04.187515,0.142857,14,2
57,58,37,0,0,1,1,landing_d,2018-03-30 11:09:04.187515,0.2,15,3
59,60,25,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.1875,16,3
63,64,14,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.176471,17,3
70,71,86,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.166667,18,3
76,77,33,0,0,1,0,landing_d,2018-03-30 11:09:04.187515,0.157895,19,3
94,95,51,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.15,20,3
97,98,82,0,0,0,1,landing_d,2018-03-30 11:09:04.187515,0.190476,21,4
103,104,26,0,0,0,1,landing_d,2018-03-30 11:09:04.187515,0.227273,22,5
119,120,61,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.217391,23,5
123,124,38,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.208333,24,5
141,142,6,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.2,25,5
154,155,76,0,0,1,0,landing_d,2018-03-30 11:09:04.187515,0.192308,26,5
156,157,2,0,1,0,0,landing_d,2018-03-30 11:09:04.187515,0.185185,27,5
158,159,40,0,0,0,0,landing_d,2018-03-30 11:09:04.187515,0.178571,28,5
164,165,14,0,0,1,0,landing_d,2018-03-30 11:09:04.187515,0.172414,29,5
168,169,17,1,1,0,0,landing_d,2018-03-30 11:09:04.187515,0.166667,30,5
...,...,...,...,...,...,...,...,...,...,...,...
9877,9878,10,1,0,0,1,landing_d,2018-04-23 11:09:06.945091,0.178094,2392,426
9878,9879,91,0,0,1,0,landing_d,2018-04-23 11:09:06.945091,0.178019,2393,426
9879,9880,60,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177945,2394,426
9881,9882,27,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177871,2395,426
9882,9883,87,0,0,0,1,landing_d,2018-04-23 11:09:06.945091,0.178214,2396,427
9883,9884,42,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.178139,2397,427
9892,9893,86,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.178065,2398,427
9895,9896,10,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177991,2399,427
9897,9898,20,0,0,1,0,landing_d,2018-04-23 11:09:06.945091,0.177917,2400,427
9900,9901,15,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177843,2401,427
9901,9902,5,0,0,1,0,landing_d,2018-04-23 11:09:06.945091,0.177769,2402,427
9903,9904,73,0,1,0,0,landing_d,2018-04-23 11:09:06.945091,0.177695,2403,427
9904,9905,18,1,0,1,0,landing_d,2018-04-23 11:09:06.945091,0.177621,2404,427
9905,9906,6,0,1,0,0,landing_d,2018-04-23 11:09:06.945091,0.177547,2405,427
9906,9907,82,0,1,1,1,landing_d,2018-04-23 11:09:06.945091,0.177889,2406,428
9913,9914,8,0,1,0,0,landing_d,2018-04-23 11:09:06.945091,0.177815,2407,428
9915,9916,38,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177741,2408,428
9916,9917,43,0,1,0,0,landing_d,2018-04-23 11:09:06.945091,0.177667,2409,428
9941,9942,90,0,1,0,0,landing_d,2018-04-23 11:09:06.945091,0.177593,2410,428
9944,9945,35,0,0,0,1,landing_d,2018-04-23 11:09:06.945091,0.177934,2411,429
9945,9946,28,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177861,2412,429
9952,9953,99,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177787,2413,429
9963,9964,47,0,0,0,1,landing_d,2018-04-23 11:09:06.945091,0.178128,2414,430
9972,9973,17,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.178054,2415,430
9976,9977,74,0,0,1,0,landing_d,2018-04-23 11:09:06.945091,0.17798,2416,430
9977,9978,45,0,0,1,0,landing_d,2018-04-23 11:09:06.945091,0.177906,2417,430
9978,9979,79,0,1,0,0,landing_d,2018-04-23 11:09:06.945091,0.177833,2418,430
9988,9989,59,0,0,1,0,landing_d,2018-04-23 11:09:06.945091,0.177759,2419,430
9996,9997,1,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177686,2420,430
9997,9998,76,0,0,0,0,landing_d,2018-04-23 11:09:06.945091,0.177613,2421,430

In [235]:
lan = landing_a[['user_id', 'date_created', 'con_a', 'all', 'successful']]
lan_2 = landing_b[['user_id', 'date_created', 'con_b', 'all', 'successful']]

In [243]:
len(lan_2)

2542

In [246]:
import pymc
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

for i in range(0, len(lan)):
    '''
    value_a=lan.all.iloc[i]
    value_a_true=lan.successful.iloc[i]
    value_b=lan_2.all.iloc[i]
    value_b_true=lan_2.successful.iloc[i]
    '''
    values_A = np.hstack(([0]*(lan.all.iloc[i]-lan.successful.iloc[i]),[1]*lan.successful.iloc[i]))
    values_B = np.hstack(([0]*(lan_2.all.iloc[i]-lan_2.successful.iloc[i]),[1]*lan_2.successful.iloc[i]))

# Create a uniform prior for the probabilities p_a and p_b
    p_A = pymc.Uniform('p_A', 0, 1)
    p_B = pymc.Uniform('p_B', 0, 1)

# Creates a posterior distribution of B - A
    @pymc.deterministic
    def delta(p_A = p_A, p_B = p_B):
        return p_B - p_A

# Create the Bernoulli variables for the observation
    obs_A = pymc.Bernoulli('obs_A', p_A, value = values_A , observed = True)
    obs_B = pymc.Bernoulli('obs_B', p_B, value = values_B , observed = True)

# Create the model and run the sampling
    model = pymc.Model([p_A, p_B, delta, values_A, values_B])
    mcmc = pymc.MCMC(model)

# Sample 1,000,000 million points and throw out the first 500,000
    mcmc.sample(2542, 2533)

    delta_distribution = mcmc.trace('delta')[:]
    sns.kdeplot(delta_distribution, shade = True)
    plt.axvline(0.00, color = 'black')
    print ("Probability that website A gets MORE sign-ups than site B: %0.3f" % (delta_distribution < 0).mean())
    print ("Probability that website A gets LESS sign-ups than site B: %0.3f" % (delta_distribution > 0).mean())

AttributeError: 'function' object has no attribute 'iloc'